##  ğŸš™ ì¤‘ê³ ì°¨ ê°€ê²© ì˜ˆì¸¡ ëª¨ë¸

ì‘ì„±ì: ìœ ì¬ìˆœ  
ì‘ì„±ì¼: 2026.02.09.ì›”ìš”ì¼

---
### ë¶„ì„ ë¡œë“œë§µ
###### (ì¶”í›„ ì‘ì„± ì˜ˆì •)
---

### 1ï¸âƒ£ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ì‹œê°í™” ê¸°ë³¸ ì…‹íŒ…

In [2]:
# ================
# 1. ë¼ì´ë¸ŒëŸ¬ë¦¬ ë° ì‹œê°í™” ê¸°ë³¸ ì…‹íŒ… 
# ================
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

# ================
# 1) seaborn í…Œë§ˆ
# ================
sns.set_theme(style="whitegrid", context="notebook")

# ================
# 2) ìƒ‰ìƒ íŒ”ë ˆíŠ¸
# ================
sns.set_palette("tab10")

# ================
# 3) ë§¥ í•œê¸€ í°íŠ¸ ì„¤ì • 
# ================
from matplotlib import rcParams
rcParams["font.family"] = "AppleGothic"

# ë§ˆì´ë„ˆìŠ¤(-) ê¸°í˜¸ ê¹¨ì§ ë°©ì§€
rcParams["axes.unicode_minus"] = False

# í•´ìƒë„ ê¸°ë³¸ê°’
rcParams["figure.dpi"] = 120
rcParams["savefig.dpi"] = 300

# matplotlib ê¸°ë³¸ ìŠ¤íƒ€ì¼ í†µì¼
plt.rcParams["axes.grid"] = True  # ê·¸ë¦¬ë“œ ì¼œê¸°(whitegridì™€ í†¤ ë§ì¶¤)

# ë§‰ëŒ€/ë„í˜•(íŒ¨ì¹˜) í…Œë‘ë¦¬(ì•„ì›ƒë¼ì¸)
plt.rcParams["patch.edgecolor"] = "black"
plt.rcParams["patch.linewidth"] = 0.8


print("ì‹œê°í™” ì„¸íŒ… ì™„ë£Œ")

ì‹œê°í™” ì„¸íŒ… ì™„ë£Œ

### 2ï¸âƒ£ ë°ì´í„° ë¡œë“œ ë° ê¸°ë³¸êµ¬ì¡° (ë³‘í•©)

In [4]:
car_df = pd.read_csv('cars.csv')

In [5]:
brand_df = pd.read_csv('brand.csv')

In [6]:
car_df.head()

,title,Price,Mileage(miles),Registration_Year,Previous Owners,Fuel type,Body type,Engine,Gearbox,Doors,Seats,Emission Class,Service history
0,SKODA FABIA,6900,70189,2016,3.0,Diesel,Hatchback,1.4L,Manual,5.0,5.0,Euro 6,NaN
1,VAUXHALL CORSA,1495,88585,2008,4.0,Petrol,Hatchback,1.2L,Manual,3.0,5.0,Euro 4,Full
2,HYUNDAI I30,949,137000,2011,NaN,Petrol,Hatchback,1.4L,Manual,5.0,5.0,Euro 5,NaN
3,MINI HATCH,2395,96731,2010,5.0,Petrol,Hatchback,1.4L,Manual,3.0,4.0,Euro 4,Full
4,VAUXHALL CORSA,1000,85000,2013,NaN,Diesel,Hatchback,1.3L,Manual,5.0,5.0,Euro 5,NaN

In [7]:
brand_df.head()

      title         country
0     skoda  Czech Republic
1  vauxhall  United Kingdom
2   hyundai     South Korea
3      mini  United Kingdom
4      ford   United States

In [12]:
# =======
# cars.csvì™€ brand.csvë¥¼ join()ìœ¼ë¡œ í•©ì¹˜ê¸°
# =======

# 1) car_df: titleì—ì„œ ë¸Œëœë“œ í‚¤ ì¶”ì¶œ
car_df["brand_key"] = car_df["title"].astype(str).str.split().str[0].str.lower()

# 2) brand_df: ë¸Œëœë“œ í‚¤ ë§Œë“¤ê³ (ì†Œë¬¸ì), ì¤‘ë³µ ì œê±°
brand_df["brand_key"] = brand_df["title"].astype(str).str.lower()
brand_df_unique = brand_df.drop_duplicates(subset="brand_key")

# 3) joinìœ¼ë¡œ country ë¶™ì´ê¸°
merged_df = car_df.join(
    brand_df_unique.set_index("brand_key")[["country"]],
    on="brand_key"
)

print(merged_df.head())
print(merged_df[["title", "brand_key", "country"]].head())

            title  Price  Mileage(miles)  Registration_Year  Previous Owners  \
0     SKODA FABIA   6900           70189               2016              3.0
1  VAUXHALL CORSA   1495           88585               2008              4.0
2     HYUNDAI I30    949          137000               2011              NaN
3      MINI HATCH   2395           96731               2010              5.0
4  VAUXHALL CORSA   1000           85000               2013              NaN

  Fuel type  Body type Engine Gearbox  Doors  Seats Emission Class  \
0    Diesel  Hatchback   1.4L  Manual    5.0    5.0         Euro 6
1    Petrol  Hatchback   1.2L  Manual    3.0    5.0         Euro 4
2    Petrol  Hatchback   1.4L  Manual    5.0    5.0         Euro 5
3    Petrol  Hatchback   1.4L  Manual    3.0    4.0         Euro 4
4    Diesel  Hatchback   1.3L  Manual    5.0    5.0         Euro 5

  Service history brand_key         country
0             NaN     skoda  Czech Republic
1            Full  vauxhall  United Kingdom
2             NaN   hyundai     South Korea
3            Full      mini  United Kingdom
4             NaN  vauxhall  United Kingdom
            title brand_key         country
0     SKODA FABIA     skoda  Czech Republic
1  VAUXHALL CORSA  vauxhall  United Kingdom
2     HYUNDAI I30   hyundai     South Korea
3      MINI HATCH      mini  United Kingdom
4  VAUXHALL CORSA  vauxhall  United Kingdom

In [19]:
# =======
# countryê°€ ëª» ë¶™ì€ ë¹„ìœ¨(0ì— ê°€ê¹Œìš¸ìˆ˜ë¡ ì¢‹ìŒ)
# =======
merged_df["country"].isna().mean()

np.float64(0.0)

In [20]:
# =======
# ë¸Œëœë“œ ë¶„í¬
# =======
merged_df["brand_key"].value_counts().head(10)  # ë¸Œëœë“œ ë¶„í¬

brand_key
vauxhall         550
ford             410
volkswagen       272
bmw              269
peugeot          245
toyota           195
nissan           180
renault          175
mercedes-benz    168
audi             147
Name: count, dtype: int64

### 3ï¸âƒ£ ë³€ìˆ˜(ì»¬ëŸ¼) ì„¤ëª… í…Œì´ë¸”

In [22]:
# =======
# cars + brand í•©ì¹œ ë°ì´í„°(merged_df)ì˜ ë³€ìˆ˜(í”¼ì²˜) ì„¤ëª… í…Œì´ë¸” ë§Œë“¤ê¸°
# - ì»¬ëŸ¼ëª…(ì˜ì–´), dtype, ì˜ˆì‹œê°’, ê²°ì¸¡ì¹˜ ë¹„ìœ¨, ì„¤ëª…(ê°„ë‹¨)
# =======

import pandas as pd
from IPython.display import display

# 1) ë³€ìˆ˜ ì„¤ëª… ì‚¬ì „(í•„ìš”í•œ ê²ƒë§Œ ê°„ë‹¨íˆ ì±„ì›€: ì—†ëŠ” ì»¬ëŸ¼ì€ ìë™ìœ¼ë¡œ ë¹ˆì¹¸)
col_desc = {
    "title": "ì°¨ëŸ‰ ì œëª©(ë¸Œëœë“œ+ëª¨ë¸). brand_key ì¶”ì¶œì— ì‚¬ìš© ê°€ëŠ¥.",
    "Price": "ì¤‘ê³ ì°¨ ê°€ê²©(íƒ€ê¹ƒ y í›„ë³´).",
    "Mileage(miles)": "ì£¼í–‰ê±°ë¦¬(ë§ˆì¼). ê°’ì´ í´ìˆ˜ë¡ ë³´í†µ ê°€ê²©â†“.",
    "Registration_Year": "ë“±ë¡ ì—°ë„(ì—°ì‹). ê°’ì´ í´ìˆ˜ë¡ ë³´í†µ ê°€ê²©â†‘.",
    "Previous Owners": "ì´ì „ ì°¨ì£¼ ìˆ˜. ë§ì„ìˆ˜ë¡ ê°ê°€ ê°€ëŠ¥.",
    "Fuel type": "ì—°ë£Œ ì¢…ë¥˜(ë²”ì£¼í˜•). ì˜ˆ: Petrol/Diesel.",
    "Body type": "ì°¨ì²´ í˜•íƒœ(ë²”ì£¼í˜•). ì˜ˆ: Hatchback/SUV.",
    "Engine": "ì—”ì§„/ë°°ê¸°ëŸ‰ ì •ë³´(ë¬¸ìì—´). ì˜ˆ: 1.4L â†’ ìˆ«ìí˜• ë³€í™˜ ê°€ëŠ¥.",
    "Gearbox": "ë³€ì†ê¸° ì¢…ë¥˜(ë²”ì£¼í˜•). ì˜ˆ: Manual/Automatic.",
    "Doors": "ë¬¸ ê°œìˆ˜(ì •ìˆ˜/ë²”ì£¼).",
    "Seats": "ì¢Œì„ ìˆ˜(ì •ìˆ˜/ë²”ì£¼).",
    "Emission Class": "ë°°ì¶œê°€ìŠ¤ ë“±ê¸‰(ë²”ì£¼í˜•). ì˜ˆ: Euro 6 â†’ ìˆ«ìí˜• ë³€í™˜ ê°€ëŠ¥.",
    "Service history": "ì •ë¹„ ì´ë ¥ ì—¬ë¶€(ë²”ì£¼í˜•). ì˜ˆ: Full/NaN.",
    "brand_key": "titleì—ì„œ ì¶”ì¶œí•œ ë¸Œëœë“œ í‚¤(ì¡°ì¸/ë¶„ì„ìš©).",
    "country": "ë¸Œëœë“œ êµ­ê°€(brand.csvì—ì„œ ê²°í•©ëœ ì»¬ëŸ¼).",
    # (ë§Œì•½ ì•ì—ì„œ ë§Œë“  ì»¬ëŸ¼ì´ ìˆìœ¼ë©´ ìë™ìœ¼ë¡œ ì„¤ëª… ì¶”ê°€)
    "engine_liters": "Engineì—ì„œ ì¶”ì¶œí•œ ë°°ê¸°ëŸ‰(L, ì‹¤ìˆ˜).",
    "euro_class": "Emission Classì—ì„œ ì¶”ì¶œí•œ ìœ ë¡œ ë“±ê¸‰(ì •ìˆ˜)."
}

# 2) ì˜ˆì‹œê°’(ê° ì»¬ëŸ¼ì˜ ì²« ë²ˆì§¸ ìœ íš¨ê°’) ë½‘ëŠ” í•¨ìˆ˜
def first_non_null(s):
    s2 = s.dropna()
    return s2.iloc[0] if len(s2) > 0 else None

# 3) ë³€ìˆ˜ ì„¤ëª… í…Œì´ë¸” ìƒì„±
var_table = pd.DataFrame({
    "ì»¬ëŸ¼ëª…(ì˜ì–´)": merged_df.columns,
    "dtype": merged_df.dtypes.astype(str).values,
    "ì˜ˆì‹œê°’": [first_non_null(merged_df[c]) for c in merged_df.columns],
    "ê²°ì¸¡ì¹˜ë¹„ìœ¨": [merged_df[c].isna().mean() for c in merged_df.columns],
    "ì„¤ëª…": [col_desc.get(c, "") for c in merged_df.columns]
})

# 4) ë³´ê¸° ì¢‹ê²Œ(ê²°ì¸¡ì¹˜ë¹„ìœ¨ ì†Œìˆ˜ì  ì •ë¦¬ + ì •ë ¬)
var_table["ê²°ì¸¡ì¹˜ë¹„ìœ¨"] = var_table["ê²°ì¸¡ì¹˜ë¹„ìœ¨"].round(3)
var_table = var_table.sort_values("ê²°ì¸¡ì¹˜ë¹„ìœ¨", ascending=False).reset_index(drop=True)

display(var_table)

,ì»¬ëŸ¼ëª…(ì˜ì–´),dtype,ì˜ˆì‹œê°’,ê²°ì¸¡ì¹˜ë¹„ìœ¨,ì„¤ëª…
0,Service history,object,Full,0.854,ì •ë¹„ ì´ë ¥ ì—¬ë¶€(ë²”ì£¼í˜•). ì˜ˆ: Full/NaN.
1,Previous Owners,float64,3.0,0.383,ì´ì „ ì°¨ì£¼ ìˆ˜. ë§ì„ìˆ˜ë¡ ê°ê°€ ê°€ëŠ¥.
2,Emission Class,object,Euro 6,0.024,ë°°ì¶œê°€ìŠ¤ ë“±ê¸‰(ë²”ì£¼í˜•). ì˜ˆ: Euro 6 â†’ ìˆ«ìí˜• ë³€í™˜ ê°€ëŠ¥.
3,euro_class,Int64,6,0.024,Emission Classì—ì„œ ì¶”ì¶œí•œ ìœ ë¡œ ë“±ê¸‰(ì •ìˆ˜).
4,engine_liters,float64,1.4,0.012,"Engineì—ì„œ ì¶”ì¶œí•œ ë°°ê¸°ëŸ‰(L, ì‹¤ìˆ˜)."
5,Engine,object,1.4L,0.012,ì—”ì§„/ë°°ê¸°ëŸ‰ ì •ë³´(ë¬¸ìì—´). ì˜ˆ: 1.4L â†’ ìˆ«ìí˜• ë³€í™˜ ê°€ëŠ¥.
6,Seats,float64,5.0,0.009,ì¢Œì„ ìˆ˜(ì •ìˆ˜/ë²”ì£¼).
7,Doors,float64,5.0,0.007,ë¬¸ ê°œìˆ˜(ì •ìˆ˜/ë²”ì£¼).
8,title,object,SKODA FABIA,0.000,ì°¨ëŸ‰ ì œëª©(ë¸Œëœë“œ+ëª¨ë¸). brand_key ì¶”ì¶œì— ì‚¬ìš© ê°€ëŠ¥.
9,Gearbox,object,Manual,0.000,ë³€ì†ê¸° ì¢…ë¥˜(ë²”ì£¼í˜•). ì˜ˆ: Manual/Automatic.
10,Body type,object,Hatchback,0.000,ì°¨ì²´ í˜•íƒœ(ë²”ì£¼í˜•). ì˜ˆ: Hatchback/SUV.
11,Fuel type,object,Diesel,0.000,ì—°ë£Œ ì¢…ë¥˜(ë²”ì£¼í˜•). ì˜ˆ: Petrol/Diesel.
12,Registration_Year,int64,2016,0.000,ë“±ë¡ ì—°ë„(ì—°ì‹). ê°’ì´ í´ìˆ˜ë¡ ë³´í†µ ê°€ê²©â†‘.
13,Price,int64,6900,0.000,ì¤‘ê³ ì°¨ ê°€ê²©(íƒ€ê¹ƒ y í›„ë³´).
14,Mileage(miles),int64,70189,0.000,ì£¼í–‰ê±°ë¦¬(ë§ˆì¼). ê°’ì´ í´ìˆ˜ë¡ ë³´í†µ ê°€ê²©â†“.
15,country,object,Czech Republic,0.000,ë¸Œëœë“œ êµ­ê°€(brand.csvì—ì„œ ê²°í•©ëœ ì»¬ëŸ¼).
16,brand_key,object,skoda,0.000,titleì—ì„œ ì¶”ì¶œí•œ ë¸Œëœë“œ í‚¤(ì¡°ì¸/ë¶„ì„ìš©).

###  4ï¸âƒ£ ë°ì´í„° ì „ì²˜ë¦¬

In [45]:
merged_df.describe()

,Price,Mileage(miles),Registration_Year,Previous Owners,Doors,Seats,engine_liters,euro_class
count,3687.000000,3.687000e+03,3687.000000,2276.000000,3662.000000,3652.000000,3642.000000,3600.0
mean,5787.301058,8.132854e+04,2011.846216,2.807557,4.321409,4.900329,1.606260,4.91
std,4480.629885,3.941718e+04,5.082387,1.546028,0.986760,0.577046,0.486584,0.910688
min,400.000000,1.000000e+00,1953.000000,1.000000,2.000000,2.000000,0.800000,1.0
25%,2490.000000,5.698400e+04,2008.000000,2.000000,3.000000,5.000000,1.300000,4.0
50%,4000.000000,8.000000e+04,2012.000000,3.000000,5.000000,5.000000,1.600000,5.0
75%,7995.000000,1.030000e+05,2015.500000,4.000000,5.000000,5.000000,1.900000,6.0
max,33900.000000,1.110100e+06,2025.000000,9.000000,5.000000,7.000000,6.300000,6.0

In [46]:
# =======
# ì¹´í…Œê³ ë¦¬í˜• ë³€ìˆ˜ë¥¼ ìˆ«ì í˜•íƒœë¡œ ë³€í™˜í•˜ê¸°
# (Engine, Emission Class)
# =======

print(merged_df.columns)

# 1) Engine: "1.4L" ê°™ì€ ë¬¸ìì—´ì—ì„œ ìˆ«ìë§Œ ë½‘ì•„ float(ì‹¤ìˆ˜)ë¡œ ë³€í™˜
merged_df["engine_liters"] = (
    merged_df["Engine"]
    .astype(str)                               # ë¬¸ìì—´ë¡œ ë³€í™˜
    .str.extract(r"([\d\.]+)", expand=False)   # ìˆ«ì/ì (.)ë§Œ ì¶”ì¶œ
    .astype(float)                             # ì‹¤ìˆ˜(float)ë¡œ ë³€í™˜
)

# 2) Emission Class: "Euro 6" ê°™ì€ ë¬¸ìì—´ì—ì„œ ìˆ«ìë§Œ ë½‘ì•„ int(ì •ìˆ˜)ë¡œ ë³€í™˜
#    - ì˜ˆ: "Euro 6" -> "6" -> 6
merged_df["euro_class"] = (
    merged_df["Emission Class"]
    .astype(str)                               # ë¬¸ìì—´ë¡œ ë³€í™˜
    .str.extract(r"(\d+)", expand=False)       # ìˆ«ì(0-9)ë§Œ ì¶”ì¶œ
    .astype(float)                             # ê²°ì¸¡ ëŒ€ë¹„í•´ ì¼ë‹¨ floatë¡œ
    .astype("Int64")                           # íŒë‹¤ìŠ¤ ì •ìˆ˜í˜•(ê²°ì¸¡ í—ˆìš©)ìœ¼ë¡œ ë³€í™˜
)

# 3) ë³€í™˜ ê²°ê³¼ í™•ì¸(ìƒìœ„ 10ê°œ)
print(merged_df[["Engine", "engine_liters", "Emission Class", "euro_class"]].head(10))

Index(['title', 'Price', 'Mileage(miles)', 'Registration_Year',
       'Previous Owners', 'Fuel type', 'Body type', 'Engine', 'Gearbox',
       'Doors', 'Seats', 'Emission Class', 'Service history', 'brand_key',
       'country', 'engine_liters', 'euro_class'],
      dtype='object')
  Engine  engine_liters Emission Class  euro_class
0   1.4L            1.4         Euro 6           6
1   1.2L            1.2         Euro 4           4
2   1.4L            1.4         Euro 5           5
3   1.4L            1.4         Euro 4           4
4   1.3L            1.3         Euro 5           5
5   2.0L            2.0         Euro 4           4
6   1.6L            1.6         Euro 4           4
7   1.2L            1.2         Euro 4           4
8   2.3L            2.3            NaN        <NA>
9   1.6L            1.6         Euro 4           4

In [47]:
# =======
# ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°
# 1) Service history ê²°ì¸¡ì¹˜ -> 'Unknown' ì±„ìš°ê¸°
# 2) ê²°ì¸¡ì¹˜ê°€ ì¼ì • ê°œìˆ˜ ì´ìƒì¸ í–‰(row) ì œê±°í•˜ê¸°
# =======

# 0) ê¸°ì¤€: í•œ í–‰ì— ê²°ì¸¡ì¹˜ê°€ ëª‡ ê°œ ì´ìƒì´ë©´ ì‚­ì œí• ì§€ ì„¤ì •
MISSING_THRESHOLD = 3 

# 1) Service history ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°
merged_df["Service history"] = merged_df["Service history"].fillna("Unknown")

# 2) ê° í–‰(row)ë§ˆë‹¤ ê²°ì¸¡ì¹˜ ê°œìˆ˜ ì„¸ê¸°
missing_cnt = merged_df.isna().sum(axis=1)

# 3) ê²°ì¸¡ì¹˜ê°€ ê¸°ì¤€ ì´ìƒì¸ í–‰ ì œê±°
clean_df = merged_df.loc[missing_cnt < MISSING_THRESHOLD].copy()

# =======
# (ì¶”ê°€) Previous Owners ê²°ì¸¡ì¹˜ ì²˜ë¦¬: ì¤‘ì•™ê°’ìœ¼ë¡œ ì±„ìš°ê¸°
# =======
clean_df["Previous Owners"] = clean_df["Previous Owners"].fillna(clean_df["Previous Owners"].median())


# 4) ì „/í›„ í™•ì¸ ì¶œë ¥
print("ì›ë³¸ í–‰ ê°œìˆ˜:", len(merged_df))
print("ì •ì œ í›„ í–‰ ê°œìˆ˜:", len(clean_df))
print("ì‚­ì œëœ í–‰ ê°œìˆ˜:", len(merged_df) - len(clean_df))

print("\n[Service history ê°’ ë¶„í¬(ì •ì œ í›„)]")
print(clean_df["Service history"].value_counts(dropna=False).head(10))

ì›ë³¸ í–‰ ê°œìˆ˜: 3687
ì •ì œ í›„ í–‰ ê°œìˆ˜: 3609
ì‚­ì œëœ í–‰ ê°œìˆ˜: 78

[Service history ê°’ ë¶„í¬(ì •ì œ í›„)]
Service history
Unknown    3073
Full        536
Name: count, dtype: int64

---
####
Service historyëŠ” ê²°ì¸¡ì´ 85%ì´ìƒ, ì •ë³´ê°€ ì—†ëŠ” ìƒíƒœë¼ì„œ, ì‚­ì œì‹œ ë°ì´í„°ê°€ ë„ˆë¬´ ë§ì´  ë‚ ì•„ê°ˆ ìˆ˜ ìˆìœ¼ë¯€ë¡œ, 'Unknown'ìœ¼ë¡œ ì±„ì›Œì„œ ì •ë¹„ ì´ë ¥ ì •ë³´ê°€ ì—†ìŒ/ë¯¸ê¸°ì¬ë¥¼ í•˜ë‚˜ì˜ ìƒíƒœ(ë²”ì£¼)ë¡œ  í•™ìŠµ/ë¶„ì„ í•¨. 'Unknown'ì´ ë§ì„ìˆ˜ë¡œ 'ì •ë¹„ ì´ë ¥ ë¯¸ê¸°ì¬' ì°¨ëŸ‰ì´ ë§ë‹¤ëŠ” ëœ».

### 5ï¸âƒ£ ìŠ¤ì¼€ì¼ë§(Scaling)

In [48]:
# =======
# ê°€ê²©ì˜ˆì¸¡ìš© ìŠ¤ì¼€ì¼ë§ (ë°ì´í„° ëˆ„ìˆ˜ ë°©ì§€)
# - trainì—ì„œë§Œ fit
# - testì—ëŠ” transformë§Œ ì ìš©
# =======

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 1) íƒ€ê¹ƒ(y)ì™€ ë³€ìˆ˜/í”¼ì³(X) ë¶„ë¦¬
target = "Price"

# ê°€ê²©ì˜ˆì¸¡ì— ì“¸ ìˆ˜ì¹˜í˜• ë³€ìˆ˜/í”¼ì²˜(Price ì œì™¸)
feature_cols = [
    "Mileage(miles)",
    "Registration_Year",
    "engine_liters",
    "euro_class",
    "Doors",
    "Seats",
    "Previous Owners"
]
feature_cols = [c for c in feature_cols if c in clean_df.columns]

# 2) ëª¨ë¸ ì…ë ¥ìš© ë°ì´í„°ë§Œ ì¶”ë¦¼ + ê²°ì¸¡ ì œê±°(ê°„ë‹¨ ì²˜ë¦¬)
model_df = clean_df[feature_cols + [target]].dropna()

X = model_df[feature_cols]
y = model_df[target]

# 3) train/test ë¶„ë¦¬
# test_size=0.2 : 80% train, 20% test
# random_state : í•­ìƒ ê°™ì€ ë¶„í•  ê²°ê³¼(ì¬í˜„ì„±)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 4) ìŠ¤ì¼€ì¼ëŸ¬ ì¤€ë¹„ (trainì—ì„œë§Œ fit)
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)   # fit + transform
X_test_scaled = scaler.transform(X_test)         # transformë§Œ (ëˆ„ìˆ˜ ë°©ì§€)

# 5) ê²°ê³¼ë¥¼ DataFrameìœ¼ë¡œ ë³µì›(ì»¬ëŸ¼ëª… ìœ ì§€)
X_train_scaled_df = pd.DataFrame(X_train_scaled, columns=feature_cols, index=X_train.index)
X_test_scaled_df  = pd.DataFrame(X_test_scaled,  columns=feature_cols, index=X_test.index)

print("í•™ìŠµìš© X shape:", X_train_scaled_df.shape)
print("í…ŒìŠ¤íŠ¸ìš© X shape:", X_test_scaled_df.shape)
X_train_scaled_df.head()

í•™ìŠµìš© X shape: (2874, 7)
í…ŒìŠ¤íŠ¸ìš© X shape: (719, 7)

,Mileage(miles),Registration_Year,engine_liters,euro_class,Doors,Seats,Previous Owners
1153,0.731892,-0.199004,-0.627009,-1.014481,0.689725,0.179925,0.110141
182,0.724677,-1.046321,-0.004763,-1.014481,0.689725,0.179925,-0.712056
1513,1.008380,-0.622663,-0.004763,-1.014481,-0.322670,0.179925,-0.712056
1137,-0.353885,0.436483,-0.834424,1.204406,-1.335066,-1.532342,0.110141
1444,0.005635,0.012825,0.202652,0.094963,0.689725,0.179925,0.110141

#### 
ğŸ’¡ ë‹¨ìœ„/ë²”ìœ„ê°€ ë‹¤ë¥¸ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë“¤ì„ â€œê°™ì€ ê¸°ì¤€â€ìœ¼ë¡œ ë§ì¶”ê¸°(ë³€ìˆ˜ê°„ ì˜í–¥ë ¥ì´ ê³µì •í•´ì§)

### 6ï¸âƒ£ PCA(ì£¼ì„±ë¶„ ë¶„ì„ ë° ì¶”ì¶œ)
### ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨(cumulative explained variance) â‰¥ 0.70 ë¥¼ ë§Œì¡±í•˜ëŠ” ìµœì†Œ ì£¼ì„±ë¶„(ê°œìˆ˜) ì°¾ê¸°!
(1) PCA í•™ìŠµì€ trainì—ì„œë§Œ fit, (2) testëŠ” transformë§Œ, ë°ì´í„° ëˆ„ìˆ˜ ë°©ì§€ í•¨

In [56]:
# =======
# ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨ 70% ì´ìƒì„ ë§Œì¡±í•˜ëŠ” "ìµœì†Œ" ì£¼ì„±ë¶„ ê°œìˆ˜ ì°¾ê¸° + PCA í•™ìŠµ
# - ì „ì œ: X_train_scaled_df (ìŠ¤ì¼€ì¼ëœ í•™ìŠµìš© X, DataFrame) ì¡´ì¬
# =======

import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

TARGET_VAR = 0.70  # ëª©í‘œ ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨(70%)

# 1) PCAë¥¼ ì „ì²´ ì„±ë¶„ìœ¼ë¡œ ë¨¼ì € fit (ë³€ìˆ˜ ê°œìˆ˜ë§Œí¼ PC ìƒì„±)
pca_full = PCA()
pca_full.fit(X_train_scaled_df)

# 2) ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨ ê³„ì‚°
cum_evr = np.cumsum(pca_full.explained_variance_ratio_)

# 3) 70% ì´ìƒì´ ë˜ëŠ” "ìµœì†Œ" PC ê°œìˆ˜ ì°¾ê¸°
# - np.argmax: ì¡°ê±´ì„ ì²˜ìŒ ë§Œì¡±í•˜ëŠ” ìœ„ì¹˜(ì¸ë±ìŠ¤) ë°˜í™˜
# - +1 í•˜ëŠ” ì´ìœ : ì¸ë±ìŠ¤ëŠ” 0ë¶€í„° ì‹œì‘, PC ê°œìˆ˜ëŠ” 1ë¶€í„° ì‹œì‘
n_components_min = np.argmax(cum_evr >= TARGET_VAR) + 1

print("ìµœì†Œ ì£¼ì„±ë¶„ ê°œìˆ˜:", n_components_min)
print("í•´ë‹¹ ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨:", round(cum_evr[n_components_min - 1], 4))

# 4) ê·¸ ìµœì†Œ ê°œìˆ˜ë¡œ PCA ë‹¤ì‹œ í•™ìŠµ
pca = PCA(n_components=n_components_min, random_state=42)
X_train_pca = pca.fit_transform(X_train_scaled_df)

# 5) (ì˜µì…˜) PCA ê²°ê³¼ë¥¼ DataFrameìœ¼ë¡œ (PC1, PC2, ...)
train_pca_df = pd.DataFrame(
    X_train_pca,
    index=X_train_scaled_df.index,
    columns=[f"PC{i+1}" for i in range(n_components_min)]
)

print("\ntrain_pca_df shape:", train_pca_df.shape)

# 6) (ì˜µì…˜) ë¡œë”©(ë³€ìˆ˜ ê¸°ì—¬ë„) í‘œ ë§Œë“¤ê¸°
loading_df = pd.DataFrame(
    pca.components_.T,
    index=X_train_scaled_df.columns,
    columns=[f"PC{i+1}" for i in range(n_components_min)]
)

print("\n[ë¡œë”©(ë³€ìˆ˜ ê¸°ì—¬ë„) í‘œ - PC1 ì ˆëŒ“ê°’ ê¸°ì¤€ ì •ë ¬]")
print(loading_df.reindex(loading_df["PC1"].abs().sort_values(ascending=False).index).head(20))

ìµœì†Œ ì£¼ì„±ë¶„ ê°œìˆ˜: 3
í•´ë‹¹ ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨: 0.7279

train_pca_df shape: (2874, 3)

[ë¡œë”©(ë³€ìˆ˜ ê¸°ì—¬ë„) í‘œ - PC1 ì ˆëŒ“ê°’ ê¸°ì¤€ ì •ë ¬]
                        PC1       PC2       PC3
Registration_Year  0.558600 -0.007688  0.188146
euro_class         0.539068 -0.009441  0.237842
Mileage(miles)    -0.385369  0.221200  0.290465
Previous Owners   -0.356555  0.010924 -0.412396
engine_liters     -0.293732  0.169997  0.779721
Doors              0.183700  0.649092 -0.194628
Seats              0.041297  0.707520 -0.088016

---
#### ìµœì†Œ ì£¼ì„±ë¶„ ê°œìˆ˜: 3  
í•´ë‹¹ ëˆ„ì  ì„¤ëª…ë¶„ì‚°ë¹„ìœ¨: 0.7279 (= 72.79%):7ê°œ ìˆ˜ì¹˜ë³€ìˆ˜ë¥¼ 3ì°¨ì› ì••ì¶•, ì›ë³¸ ë³€ë™(ì •ë³´) ì•½ 72.8% ë‹´ê³  ìˆìŒ.  
train_pca_df shape: (2874, 3): 2874ëŒ€ ì°¨ëŸ‰, ê° ì°¨ëŸ‰ë§ˆë‹¤ pc1, pc2, pc3 ì ìˆ˜ 3ê°œë¡œ í‘œí˜„.  
- ë¡œë”©(ë³€ìˆ˜ ê¸°ì—¬ë„): ì ˆëŒ€ê°’ì´ í´ìˆ˜ë¡ pcë¥¼ ë§Œë“œëŠ”ë° ë” í°ì—­í™œì„ í•¨. (+/-)ë¶€í˜¸ëŠ” ë°©í–¥.

âœ… PC1: PC1ì€ â€œì „ë°˜ì  ì°¨ëŸ‰ ì»¨ë””ì…˜/ì‹ í˜•ì„±(=ê°€ì¹˜)â€ì„ ìš”ì•½í•˜ëŠ” ì¶•   
PC1ì€ ê±°ì˜ â€œì°¨ëŸ‰ì˜ â€˜ì‹ í˜•/ê·œì œë“±ê¸‰ ì¢‹ìŒâ€™ vs â€˜ë§ì´ íƒ„/ì´ë ¥ ë³µì¡â€™â€ ì¶•ìœ¼ë¡œ ë³´ì„.  
Registration_Year(ì—°ì‹)ì´ í¬ê³ (+), euro_class(ë°°ì¶œ ê·œì œ ë“±ê¸‰)ì´ ë†’ê³ (+)    
ë°˜ëŒ€ë¡œ Mileage(ì£¼í–‰ê±°ë¦¬)ëŠ” ì ê³ (-), Previous Owners(ì´ì „ ì°¨ì£¼ ìˆ˜)ëŠ” ì ê³ (-)    
â†’ PC1 ì ìˆ˜ê°€ â€œí°â€ ì°¨ëŸ‰ì€ ëŒ€ì²´ë¡œ ë” ì‹ í˜• + ì¹œí™˜ê²½ë“±ê¸‰ ë†’ìŒ + ëœ êµ´ëŸ¬ë‹¤ë‹˜ + ì†Œìœ ì ì ìŒ ìª½ ì„±ê²©.  
âœ… PC2: ë¡œë”© í°ê²ƒ, Seats, Doors, Mileage.  
ê±°ì˜ â€œì°¨ëŸ‰ í¬ê¸°/ìˆ˜ìš© ëŠ¥ë ¥(ì¢Œì„/ë¬¸)â€ ì¶•. 
PC2ê°€ í¬ë©´: ì¢Œì„ ë§ê³ , ë¬¸ ë§ê³ (ëŒ€í˜•/íŒ¨ë°€ë¦¬ ìª½ ì„±í–¥),  PC2ê°€ ì‘ìœ¼ë©´: ì¢Œì„/ë¬¸ ì ì€ ì†Œí˜•ì°¨ ì„±í–¥.  
âœ… PC3: engine_liters ì••ë„ì  í¼.  
ê±°ì˜ â€œì—”ì§„ í¬ê¸°(ë°°ê¸°ëŸ‰)â€ ì¤‘ì‹¬ ì¶•ì´ì•¼.  
engine_litersê°€ PC3ì„ ì‚¬ì‹¤ìƒ ì§€ë°°í•˜ê³  ìˆìŒ.  
â†’ PC3 ì ìˆ˜ê°€ í¬ë©´: ë°°ê¸°ëŸ‰ í° ì°¨(í˜/ì„±ëŠ¥ ìª½), ì‘ìœ¼ë©´: ë°°ê¸°ëŸ‰ ì‘ì€ ì°¨(ê²½ì œí˜•).

In [58]:
print("PC1 ëˆ„ì :", round(cum_evr[0], 4))
print("PC1+PC2 ëˆ„ì :", round(cum_evr[1], 4))
print("PC1+PC2+PC3 ëˆ„ì :", round(cum_evr[2], 4))

PC1 ëˆ„ì : 0.384
PC1+PC2 ëˆ„ì : 0.5984
PC1+PC2+PC3 ëˆ„ì : 0.7279

### 7ï¸âƒ£ êµ­ê°€ë³„ ì´ ë¸Œëœë“œ ê°œìˆ˜ëŠ”?

In [63]:
# =======
# êµ­ê°€ë³„ "ì´ ë¸Œëœë“œ ê°œìˆ˜" êµ¬í•˜ê¸°
# - brand_df ê¸°ì¤€ìœ¼ë¡œ ë³´ëŠ” ê²Œ ê°€ì¥ ì •í™•í•¨ (ë¸Œëœë“œ ì¤‘ë³µ ì œê±°ê°€ ì‰¬ì›€)
# =======

# 1) ë¸Œëœë“œ í‚¤ ë§Œë“¤ê¸° (ì†Œë¬¸ì í†µì¼)
tmp_brand = brand_df.copy()
tmp_brand["brand_key"] = tmp_brand["title"].astype(str).str.lower().str.strip()

# 2) (brand_key, country) ì¤‘ë³µ ì œê±° -> "ë¸Œëœë“œ 1ê°œ = 1í–‰" ê°œë… ë§Œë“¤ê¸°
brand_unique = tmp_brand.drop_duplicates(subset=["brand_key", "country"])

# 3) êµ­ê°€ë³„ ë¸Œëœë“œ ê°œìˆ˜ ì„¸ê¸°
country_brand_counts = (
    brand_unique.groupby("country")["brand_key"]
    .nunique()                      # nunique(): ìœ ë‹ˆí¬ ê°œìˆ˜
    .sort_values(ascending=False)   # í° ìˆœì„œëŒ€ë¡œ ì •ë ¬
)

print("[êµ­ê°€ë³„ ì´ ë¸Œëœë“œ ê°œìˆ˜]")
print(country_brand_counts)

[êµ­ê°€ë³„ ì´ ë¸Œëœë“œ ê°œìˆ˜]
country
Japan             11
United Kingdom     8
Germany            6
United States      5
France             4
Italy              4
South Korea        4
Sweden             2
Czech Republic     1
Malaysia           1
Romania            1
Spain              1
Name: brand_key, dtype: int64

### 8ï¸âƒ£ ìƒê´€ê´€ê³„ ë†’ì€ ë³€ìˆ˜ í™•ì¸(ìˆ˜ì¹˜í˜•)

In [ ]:
# =======
# ìƒê´€ê´€ê³„ ë†’ì€ ë³€ìˆ˜(ìˆ˜ì¹˜í˜•) ì°¾ê¸°
# - clean_df ê¸°ì¤€ìœ¼ë¡œ í™•ì¸ (ì •ì œ í›„ ë°ì´í„°)
# =======

import numpy as np

# 1) ìˆ˜ì¹˜í˜• ì»¬ëŸ¼ë§Œ ì„ íƒ
num_df = clean_df.select_dtypes(include=[np.number]).copy()

# 2) ìƒê´€ê³„ìˆ˜(í”¼ì–´ìŠ¨) ê³„ì‚°
corr = num_df.corr()  # corr(): ìƒê´€ê´€ê³„ í–‰ë ¬(í‘œ)

# 3) (ì¤‘ë³µ ì œê±°) ìƒê´€ê´€ê³„ ìŒì„ 1ì¤„ ë¦¬ìŠ¤íŠ¸ë¡œ í¼ì¹˜ê¸°
corr_pairs = corr.unstack()                 # (ë³€ìˆ˜1, ë³€ìˆ˜2) -> ê°’ í˜•íƒœë¡œ í¼ì¹¨
corr_pairs = corr_pairs.dropna()

# 4) ìê¸° ìì‹ (ìƒê´€=1) ì œê±° + ì¤‘ë³µ ìŒ ì œê±°
# - (A,B)ì™€ (B,A)ê°€ ë‘˜ ë‹¤ ë‚˜ì˜¤ë¯€ë¡œ í•œìª½ë§Œ ë‚¨ê¸°ê¸°
corr_pairs = corr_pairs[corr_pairs.index.get_level_values(0) != corr_pairs.index.get_level_values(1)]
corr_pairs = corr_pairs.groupby(frozenset).first()  # ì¤‘ë³µ ì œê±° íŠ¸ë¦­

# 5) ì ˆëŒ“ê°’(| |) ê¸°ì¤€ìœ¼ë¡œ ìƒê´€ í° ê²ƒë¶€í„° ë³´ê¸°
top_corr = corr_pairs.reindex(corr_pairs.abs().sort_values(ascending=False).index)

print("[ìƒê´€ê´€ê³„ ì ˆëŒ“ê°’ TOP 15]")
print(top_corr.head(15))

# 6) ì„ê³„ê°’ ê¸°ì¤€ìœ¼ë¡œ 'ë†’ì€ ìƒê´€'ë§Œ ë³´ê³  ì‹¶ìœ¼ë©´ (ì˜ˆ: |corr| >= 0.7)
THRESH = 0.7
high_corr = top_corr[top_corr.abs() >= THRESH]

print(f"\n[|ìƒê´€| >= {THRESH} ì¸ ë³€ìˆ˜ ìŒ]")
print(high_corr if len(high_corr) > 0 else "í•´ë‹¹ ì—†ìŒ")

[ìƒê´€ê´€ê³„ ì ˆëŒ“ê°’ TOP 15]
(Registration_Year, euro_class)         0.920095
(Registration_Year, Price)              0.775481
(Price, euro_class)                     0.697992
(Price, Mileage(miles))                -0.502463
(Seats, Doors)                          0.498174
(Registration_Year, Mileage(miles))    -0.442309
(Previous Owners, Registration_Year)   -0.416195
(Previous Owners, Price)               -0.405431
(Previous Owners, euro_class)          -0.379480
(euro_class, Mileage(miles))           -0.378377
(engine_liters, Mileage(miles))         0.333814
(engine_liters, Registration_Year)     -0.298682
(Previous Owners, Mileage(miles))       0.267319
(engine_liters, euro_class)            -0.264197
(Registration_Year, Doors)              0.217044
dtype: float64

[|ìƒê´€| >= 0.7 ì¸ ë³€ìˆ˜ ìŒ]
(Registration_Year, euro_class)    0.920095
(Registration_Year, Price)         0.775481
dtype: float64